::selection {
    background: palegreen; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background:  palegreen; /* Gecko Browsers */
  }

html, body {
    font-family: 'PT Serif', serif;
    margin: 0;
    height:100%;
    width:100vw;
    color: #0F1636;
    cursor:s-resize;
} 
/* 
main{
    min-height: 100vh;
    overflow: hidden;
} */




.logo, .logo-footer{
    margin:0;
    display: block;
    width:8em;
}

.navigation{
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    width:60%;
}

.open-menu{
    display:none;
}

.close-menu{
    display:none;
}

header path{
    fill:#0F1636;
}

.logo svg{
    transition: 1s ease-in-out;
}

.logo svg:hover{
    transform: rotate(-360deg);
}











/* enlaces */

a{
    color:#0F1636;
    text-decoration: none;
}

a:hover{
    text-decoration: line-through;
    text-decoration-color:#0F1636;
}

#contact-b{
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'></text></svg>") 16 0,auto; /*emojicursor.app*/
    text-decoration:none;
}




/* tipografia */

h5,
h6,
p,
.overline-text,
.message-type,
.marquee__message {
    font-family:'Source Code Pro', monospace; 
}

h1{
    font-size:64px;
    line-height:70px;
    color:#0F1636;
    letter-spacing: -0.5px;
    margin:0;
    font-weight: 400;
}

h2{
    font-family:'Source Code Pro', monospace;
    line-height: 1.25;
    font-size: 16px;
    color: #0F1636;
    font-weight:400;
}

h3{
    font-weight:400;
    line-height:36px;
    font-size: 32px;
    letter-spacing: -0.5px;
    color:#0F1636;
    margin:0;
}

h4{
    font-weight:700;
    line-height:1.2em;
    font-size: 22px;
    margin:0;
    color:#0F1636;
}

h5{
    font-weight:400;
    line-height:1.5;
    font-size:14px;
    margin:0 auto;
}


h6{
    font-weight:400;
    line-height:1.5;
    font-size:14px;
    margin:.4em auto;
    color:#F9A29A;
}

p{
    font-size:14px;
    line-height:1.7;
}

.billboard span{
    cursor:none;
}






/* botones */


.ppal-btn{
    font-size:14px;
    font-family:'Source Code Pro', monospace; 
    color:#0F1636;
    background-color:#FFB8B2;
    position:relative;
    padding:0.8em 2em;
    border-radius: 4em;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition:  .5s ease-in-out;
}

.ppal-btn:hover{
    background-color:#F9A29A; 
    text-decoration:none;
    transform: scale(1.1);
}

.secondary{
    color:#F8F8F5;
    border: 1px solid #F8F8F5;
    position:relative;
    padding:0.8em 2em;
    border-radius: 4em;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    letter-spacing: 4px;
    transition:  .5s ease-in-out;
}

.secondary:hover, .secondary svg path:hover{
    border: 1px solid #FFB8B2;  
    cursor:pointer;
}

.cv-content .secondary{
    color:#F9A29A;
    border: 1px solid #F9A29A;
    margin-top:-2em;
}












/* elementos generales */

.col-1{
    width:20%;
    padding:.5em 0;
}

.col-2{
    width:50%;
}

.color-pink{
    color:#F9A29A;
}

.color-white{
    color:#FFFFFF;
}

.color-ice{
    color:#F8F8F5;
}

.dark-pink{
    color:rgb(219, 124, 116);
}

.full{
    width:100vw;
    height:100vh;
    cursor: e-resize;
}

.center-item{
    display: flex;
    align-items: center;
}

.weight-400{
    font-weight: 400;
}

.wrapper{
    margin:0 auto;
    padding:1em;
    max-width:1200px;
    width:90vw;
}

.center{
    text-align:center;
}

.pad-1{
    padding:1em;
}

.pad-2{
    padding:2em;
}


.margin-left{
    margin-left:-5em;
}

.margin-top{
    margin-top:10em;
}

hr{
    height: 1px;
    border: 0;
    border-top: 2px solid rgb(255, 255, 255);
    position:relative;
    width:100vw; 
    display:block;
    padding: 0;
}

.outline{
    -webkit-text-stroke: 2px #FFFFFF;
    color:rgba(255, 255, 255, 0)
}

.border-1px{
    -webkit-text-stroke: 1px #FFFFFF;
}

.align-center{
    align-items: center;
}

.flex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-2{
    justify-content:center;
    display:flex;
    flex-direction: row;
}

.flex-3{
    display:flex;
    flex-direction: row;
}


.short{
    height:1.5em;
    bottom:0;
    position: fixed;
}














/* seccion billboard */

.billboard {
    width:100vw;
    z-index:-1;
    margin:0 auto;
}

.billboard span:hover{
    text-decoration:none;
    color:#F9A29A;
}

.over-emoji{
    width:18%;
    position: absolute;
    top:-1em;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
    z-index:2;
}

.emoji:hover + .over-emoji{
    opacity: 1;
    pointer-events: initial;
}










/* secci贸n proyectos */

.projects{
    /* width:100vw; */
    z-index:0;
    padding:1em;
}

.imagen{
    margin-top:-20em;
    margin-left:4em;
    position:relative;
    width:100%;
}

.sidenav {
    white-space:nowrap;
    z-index:0;
    line-height: 1.2;
}


.sidenav a:hover{
    text-decoration: line-through;
    text-decoration-color:#FFB9B2;
}

.prj-col{
    padding:0 3em;
}

.preview-thumb {
    position:absolute;
    opacity:0;
    pointer-events:none;
    transition: opacity .2s ease-in-out;
    width:22%;
    z-index:-1;
    
}

.sidenav:hover + .preview-thumb {
    opacity: 1;
    pointer-events: initial;
}

.sidenav:hover + .col-1{
    display:none;
}

/* .p1 a:hover{
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'></text></svg>") 16 0,auto;
} */








/* Text scroll */


.text-scroll{
    color:#FFB8B2;
    text-align:center;
    margin-bottom:2em;  
    text-transform: uppercase;
    padding:0.5em;
}










/* secci贸n services */

.service-single{
    align-items: center;
    width:20%;
}

.services{

    background-color:#F8F8F5;
}



.services p{
    padding:1em;
}

.services img{
    width:40%;
}

.services .ppal-btn{
    margin:4em;
}






/* secci贸n about */

.about{
    width:100vw;
    height:auto;
    z-index:-2;
}

.about-content{
    /* padding:2em; */
    height:auto;
    width:90vw;
}

.about img{
    width:38%;
    height:38%;
    z-index:-1;
}

.about-col-1, .about-col-2{
    width:34%;
    height:auto;
    padding:2em;
    display:block;
}

.about-col-2{
    padding-top:3.5em;
}

.about-column a:hover{
    text-decoration: line-through;
    text-decoration-color:#FFB9B2;
}

.about-text{
    background-color: lavender;
}









/* secci贸n cv */

.banner-cv{
    z-index:2;
    padding:4em;
    position: relative;
    width:50%;
    background-color:#0F1636;
    margin:-10em auto 2em;
}

.banner-cv h3{
    width:60%;
}


.cv-title{
    position:absolute;
    transform:translate(-90%,240%) rotate(-90deg);
    letter-spacing: 5px;
}

.cv-open{
    display:block;
}

#cv{
    display:none;
}

.cv-container{
    top:2em;
    position:absolute;
    height:100vh;
    background-color:#FFFFFF;
    z-index:9;
    width:100%;
}

.cv-content{
    width:38%;
    margin:0 2em;
    padding:1em;
    overflow: hidden;
}

.cv-col{
    padding:0;
    margin:0 0 1em 0;
}


.slider-about{
    /* width:100%; */
    display:flex;
    /* overflow-x:hidden; */
    -webkit-overflow-scrolling: touch;
}














/* marquee contact */

.marquee__content {
    border: solid #fff;
    border-width: 2px 0;
    cursor: alias;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.marquee__message {
    animation: marquee 10s infinite normal linear 1s;
    display: inline-block;
    color: #fff;
    font-size: 90px;
    transform: translateX(0);
}


.message-type{
    font-weight: 400;
    line-height: 86px;
    font-size: 90px;
    color: #FFFFFF;
    margin:0 auto;
    width:100vw;
    padding:0 1.5em;
}

.marquee{
    padding:2em 0;
}

.marquee:hover, .marquee__message:hover, .marquee__content span:hover, .email a:hover{
    animation-play-state: paused;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'></text></svg>") 16 0,auto; /*emojicursor.app*/
    text-decoration:none;
}


.marquee, .marquee__project{
    background-color:#FFB9B2;
    position:relative;
    z-index:0;
}

.marquee__project{
    position:fixed;
    bottom:0;
}


.marquee__project .marquee__message{
    font-size: 16px;
    padding:.5rem 0;
}

@keyframes marquee {
    /* Es m谩s natural hacia la izquierda, pero si quieres invertirlo, solo
    invierte las cifras */
    from { transform: translateX(0%); }
    to { transform: translateX(-50%); }
}















/* secci贸n footer */

footer{
    background-color:#17191C;
    width:100%;
    margin:0 auto;
    padding:0;
    cursor:n-resize;
    position:relative;
    z-index:0;
}

.copyright{
    font-family:'Source Code Pro', monospace; 
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    font-size: 12px;
    color: #FFFFFF;
    padding-left:2em;
}

footer ul li{
    padding:0 1em;
}



footer .icon:hover{
    fill:#FFB9B2;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'></text></svg>") 16 0,auto; /*emojicursor.app*/
}

.rrss-sidebar{
    bottom:20vh;
    right: 2em;
    margin:0;
    z-index:2;
    display:block;
    position:fixed;
    transform: translate(50%,-50%) rotate(90deg);
}

.rrss-item{
    padding:0 .5em;
}


.logo-footer{
    fill:#FFFFFF;
    width:2em;
}

ul li {
    font-size:2em;
    list-style: none;
}












/* seccion pagina proyectos  */


.close-container{
    align-self: center;
    z-index:9;
}


.pagina-proyectos{
    width:100vw;
    height:70vh;
    position:relative;
    top:-4em;
    z-index:1;
}


.i-close path:hover{
    fill:#CBCDD4;
    transition: all .4s ease-in-out;
}

.info-container{
    position:relative;
    width:30%;
}

.fotos-container{
    position:relative;
    transform: translate(40%);
}

.fotos-container img{
    width:40%; 
    margin:1em;
}



.services-container{
    width:100vw;
}

.small{
    font-size:18px;
    line-height:24px;
}


.single-project{
    overflow-y:scroll;
    overflow-x:visible;
    -webkit-overflow-scrolling: touch;
    position:absolute;
}

.single-project::-webkit-scrollbar {
    display: none;
}


.preset-gif{
    cursor:wait;
}


.next{
    padding:2em;
    text-transform: uppercase;
    letter-spacing:4px;
    color: #0F1636;
}




















@media screen and (max-width: 1200px){
    main{
        margin:0 auto;
        width:100%;
    }

    .navigation{
        width:80%;
    }

    /* .projects{
        flex-direction:column;
    } */

    .col-1{
        display:none;
    }

    .prj-col{
        padding:0;
        margin:0 2em 0 0;
    }

    .banner-cv{
        width:70%;
        margin-top:0;
    }

    .service-single{
        width:auto;
    }

    .services-container__item:hover .title {
    transform: scale(0.7);
    }

    .services-container__item .wrapper{
        padding:0;
    }

}

@media screen and (max-width:1000px){

    h1{
        font-size:54px;
    }

    .single-project{
        width:auto;
    }
}

@media screen and (max-width:768px){


    .ppal-btn{
        font-size:12px;
        padding:auto 1em;
        border-radius: 4em;
        letter-spacing: 2px;
    }

    .logo svg{
        width:6em;        
    }


    .over-emoji{
        width:30%;
        top:-2em;
        right:0;
    }

    .info-container{
        position:relative;
        width:30%;
    }


}

@media screen and (max-width:675px){
    /* .navigation{
        display:none;
        background-color: gold;
        justify-content: flex-end;
    }

    .open-menu{
        display:block;
        margin:auto 0;
    }

    .close-menu{
        background-color: deepskyblue;
    } */

    .navigation .ppal-btn{
        display:none;
    }


}



@media screen and (max-width:480px) {
    body{
        max-width:100vw;
    }

    h1{
        font-size:46px;
        line-height:1;
    }
    h2{
        line-height:1.8;
    }
    h3{
        font-size:32px;
        line-height:1;
    }
    h4{
     font-size:22px;
     line-height:1;   
    }

    h6{
        line-height:1.5em;
    }

    p{
        font-size:16px;
    }

    .wrapper{
        max-width:90vw;
        padding:.5em 1em;
    }


        .logo svg{
        width:6em;
        }


    .billboard{
        /* width:90vw; */
        margin:0 auto;
    }

    .flex-3{
        display:block;
    }

        .prj-col{
            padding:0;
        }

    .text-scroll{
        display:none;
    }

    .pad-2{
        padding:1em;
    }

    .services .flex, .banner-cv .flex{
        flex-direction:column;
    }

    .service-single{
        width:80%;
        margin:0 auto;
        padding:1em 0;
    }
        .services p{
            padding:0;
        }


    .services .ppal-btn{
        margin:0;
    }

    .center{
        padding:2.5em 0;
    }

    .margin-left{
        margin-left:0;
    }

    .about-content{
        padding:0;
        display:block;
        width:100%;
    }

    .about img{
        width:100vw;
    }

        .about-col-1, .about-col-2{
            width:80%;
            padding:2em;
        }


        .about-col-2 p{
            padding-bottom:1em;
            margin:0;
        }

        .about-col-2 h3{
            font-size:40px;
            line-height:1;
        }

    .pad-1{
        padding:0;
    }


    .col-1{
        display:none;
    }

    .col-2{
        width:100%;
    }

    .banner-cv{
        width:100vw;
        height:;
        margin:0;
        text-align: center;
        padding:4em 1em;
    }
    .banner-cv h3{
        width:90vw;
        font-size:28px;
        line-height:1.2;
        padding:.5em 0;
    }

    .banner-cv a{
        width:90vw;
    }

    .banner-cv .secondary{
        padding: 1em 4em;
        margin-top:1em;
    }


    .copyright{
        line-height:20px;
        width:40vw;
    }

    .cv-box{
        margin:0;
        width:80vw;
        padding:0;
        padding-bottom:3em;
    }

    .cv-title{
        transform:rotate(0);
        position:relative;
    }

    .cv-container .wrapper{
        display:block;
    }

    .cv-container{
        height:auto;
        top:21em;
    }

    .cv-content{
        width:80vw;
        margin:0 auto;
    }




    .email{
        text-align:center;
    }

    .fotos-container{
        display:block;
        left:0;
    }

    .footer-content{
        flex-direction: column-reverse;
    }

        .footer-content ul{
            padding:0;
        }
        

    .hero-text{
        font-size:32px;
        line-height:1em;
    }

    .info-container{
        top:0;
    }

    .info-project{
        padding:0;
        margin-top:6em;
        width:80vw;
        margin-bottom:2em;
    }


    .margin-top{
        margin-top:2em;
    }

    .marquee__project{
        display:none;
    }

    .menu-open .navigation{
        display:block;
    }
    
    .menu{
        display:block;  
        background-color:azure;
    }

    .message-type{
        font-size:40px;
    }

    .navigation{
        width:auto;
        display:none;   
    }

    .navigation h6{
        margin-left:1.5em;
    }

    .next{
        padding:1em;
        right:2em;
        position: absolute;
    }

    .projects{
        margin:0;
        /* padding:1em; */
    }

    .imagen {
        top:-1em;
        margin-left:4em;
    }

    .preview-thumb{
        width:70%;
    }




    .rrss-sidebar{
        display:none;
    } 


    .services-container{
        display:block;
        width:100%;
    }

    .services-container__item .title{
        margin:.5em;
    }

    .services-container__item:hover .title {
        transform: scale(0.3);
    }




    .single-project{
        padding:0;
        top:70vh;
    }

    .fotos-container{
        transform: translate(0);
    }

    .single-project .secondary{
        margin:1em 0 2em;
        height:2em;
        border-radius:6em;
    }

    .single-project img{
        width:90vw;
        margin:0;
        padding-bottom:.5em;
    }

    .pagina-proyectos{
        width:100%;
        position: absolute;
    }

    .footer-page{
        display:none;
    }

    .info-container{
        width:90%;
        top:2em;
    }


 
}

